{% extends 'base.html' %}
{% load static %}

{% block body %}
    
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">All Clients</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="{% url 'index' %}">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Clients</a>
                        </li>
                        <li class="breadcrumb-item active">All Clients</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>All</strong> Clients
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle"
                                    data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu float-end">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example contact_list">
                                <thead>
                                    <tr>
                                        <th class="center">#</th>
                                        <th class="center"> Name </th>
                                        <th class="center"> Organization </th>
                                        <th class="center"> Mobile </th>
                                        <th class="center"> Email </th>
                                        <th class="center"> Address </th>
                                        <th class="center"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for i in data %}
                                    <tr class="odd gradeX">
                                        <td class="table-img center">
                                            <img src="{{i.logo.url}}" height="50px" width="50px" alt="">
                                        </td>
                                        <td class="center">{{i.client_name}}</td>
                                        <td class="center">{{i.client_company_name}}</td>
                                        <td class="center">{{i.client_phone}}</td>
                                        <td class="center">{{i.client_email}}</td>
                                        <td class="center">{{i.address}} , {{i.state}} , {{i.contry}}.</td>
                                        <td class="center">
                                            <a href="{% url 'editclient' i.id %}" class="btn btn-tbl-edit">
                                                <i class="material-icons">create</i>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                        
                                  
                                   
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="center">#</th>
                                        <th class="center"> Name </th>
                                        <th class="center"> Organization </th>
                                        <th class="center"> Mobile </th>
                                        <th class="center"> Email </th>
                                        <th class="center"> Address </th>
                                        <th class="center"> Action </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
    